@import '../../variables';

.buttons-sort {
  padding-bottom: 20px;
  min-width: 502px;
}

.button {
  background: $clr-bg-item;
  border: 1px solid $clr-border-btn;
  padding: 15px;
  cursor: pointer;
  width: 250px;
}

.button:hover {
  opacity: 0.8;
}

.button-left {
  border-radius: 5px 0 0 5px;
}

.button-right {
  border-radius: 0 5px 5px 0;
}

.button-xl {
  border-radius: 5px;
  min-width: 100%;
}

.button-selected {
  background: $clr-basic;
}

.cards {
  justify-self: start;
}

.title {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  /* identical to box height, or 100% */

  letter-spacing: 0.5px;
  text-transform: uppercase;

  color: $clr-text;
  margin-bottom: 20px;
}

.title-selected {
  color: $clr-bg-item;
}

.preloader {
  text-align: center;
}

.message {
  max-height: 100px;
  padding: 50px 10px 50px 10px;
  border: 1px solid $clr-border-btn;
  background: $clr-bg-item;
  margin-bottom: 20px;
  border-radius: 5px;

  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.5px;
  text-transform: uppercase;

  color: $clr-text;
}

.error {
  color: red;
}

@media (max-width: 880px) {
  .cards {
    justify-self: center;
  }

  .buttons-sort {
    display: grid;
    grid-template-columns: 320px;
    padding: 20px 0 20px 0;
    min-width: 0;
  }

  .button {
    min-width: 100%;
  }
}
