@import '../../variables';

body {
  margin: 0;
}

.app {
  background: $clr-app-bg;
}

.bg {
  background: $clr-bg-content;
  max-width: 960px;
  margin: 0 auto 0 auto;
  padding: 0 103px 50px 103px;
  min-height: 100vh;
  height: 100%;
}

.title {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  /* identical to box height, or 100% */

  letter-spacing: 0.5px;
  text-transform: uppercase;

  color: $clr-text;
  margin-bottom: 20px;
}

.title-selected {
  color: $clr-bg-item;
}

.header {
  display: block;
  height: 160px;
}

.content {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 20px;
  align-items: start;
}

.logo {
  display: block;
  position: relative;
  margin: 0 auto 0 auto;
  top: 20%;
  bottom: 91.85%;
}

@media (max-width: 880px) {
  .content {
    grid-template-columns: auto;
  }

  .bg {
    background: $clr-bg-content;
    max-width: 960px;
    margin: 0 auto 0 auto;
    padding: 0;
    min-height: 100vh;
    height: 100%;
  }
}

@media (max-width: 880px) {
  .header {
    height: 100px;
  }

  .logo {
    top: 5%;
  }
}
